<!DOCTYPE html>

<html>
<head>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<title>QuantumMechanic</title>
<script src="/media/index.js"></script>
<script src="/media/puzzle.js"></script>
<link rel="stylesheet" type="text/css" href="/media/index.css">
</head>
<body>
<h1>QuantumMechanic &ndash; Puzzle</h1>

<p>
(<a href="/">back to main menu</a>)
</p>
<p><a href="http://en.wikipedia.org/wiki/Toffoli_gate">Toffoli gates</a>, also called CCNOT gates, invert their third bit only if both of the first two bits are the same. Toffoli gates are universal in classical logic. <a href="http://en.wikipedia.org/wiki/Fredkin_gate">Fredkin gates</a>, also called CSWAP gates, swap the last two bits if the first bit is 1.
</p>
<p><b>CHALLENGE: Build a Fredkin gate from Toffoli gates.</b></p>


<!--CONSTRUCTION TARGET(?) <hr> <h2>Circuit-in-Progress</h2>-->

<input type="submit" value="Delete final gate" id="undo">
<input type="submit" value="Clear circuit" id="clear">
<table>
<tr>
<td>
<br>
{% for number in qubit_numbers %}
Qubit {{number}}
<br>
<br>
{% endfor %}
</td>
<td id="canvas_td"><br>
<div id="canvas" data-state='{{circuit_init_data|safe}}'>
{{circuit_init_png|safe}}
</div>
</td>
<td>
<h1>=?=</h1>
</td>
<td>
{{target_png|safe}}
</td>
</tr>
</table>
<br>
<i>To add a gate to the circuit, click on it below after configuring these settings.</i>
<br>
First qubit: <select name="qubit1" id="qubit1" class="param">
  {% for number in qubit_numbers %}
  <option value="{{number}}"{% if number == 0 %} selected{% endif %}>{{number}}</option>
  {% endfor %}
</select>
Second qubit: <select name="qubit2" id="qubit2" class="param">
  {% for number in qubit_numbers %}
  <option value="{{number}}"{% if number == 1 %} selected{% endif %}>{{number}}</option>
  {% endfor %}
</select>
Third qubit: <select name="qubit3" id="qubit3" class="param">
  {% for number in qubit_numbers %}
  <option value="{{number}}"{% if number == 2 %} selected{% endif %}>{{number}}</option>
  {% endfor %}
</select>
<span class="tab">
Insert after: gate #<input type="text" name="nth" id="nth" class="param">

<div id="gates">
  <div class="gate draggable" data-name="{{toffoli.1}}">
    {{toffoli.0|safe}}
  </div>
</div>

<h2>Current matrix:</h2>
<div id="matrix">
{{matrix|safe}}
</div>

<h2>Desired matrix:</h2>
<div id="matrix_target">
{{matrix_target|safe}}
</div>

</body>
</html>
